@media screen and (min-width: 1280px) {
  body {
    margin: 0px  0px  0px 20px;
    font-family: 'Montserrat', sans-serif; }
    body header {
      margin-top: 20px; }
      body header .menu {
        float: right;
        color: #f2f2f2;
        text-align: center;
        font-weight: bold;
        margin-right: 10%; }
        body header .menu a {
          text-decoration: none;
          color: black;
          margin-left: 20px; }
        body header .menu a:hover {
          color: #0078AA; }

  .head-section {
    margin-top: 10px;
    background-image: url("../img/lady.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: right; }
    .head-section .head-text {
      padding-top: 7%;
      font-size: 27px;
      width: 50%; }
    .head-section p {
      font-size: 15px;
      color: #9999A8; }
    .head-section .head-icon {
      background-color: #0078AA;
      color: white;
      padding: 10px;
      border-radius: 50%;
      margin-left: 10px; }
    .head-section .head-icon:hover {
      background-color: #FFF;
      color: #0078AA;
      border: 1px solid; }

  .arrow-icon {
    margin-top: 15px;
    background-color: #0078AA;
    color: white;
    padding: 10px;
    border-radius: 100%;
    margin-left: 10px;
    font-size: 40px;
    float: right;
    margin-right: 50px; }

  .about-text {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap; }
    .about-text img {
      width: 50%; }
    .about-text .about {
      padding-left: 50px;
      padding-top: 20px; }
      .about-text .about h2 {
        font-size: 35px; }
      .about-text .about .blue-text {
        color: #0078AA; }
      .about-text .about .blue-arrow {
        color: #0078AA;
        display: inline; }
      .about-text .about i {
        color: #0078AA;
        font-size: 15px; }
      .about-text .about p {
        width: 500px; }

  .help {
    background-image: url("../img/services_bg.jpg");
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    margin-left: -20px; }

  .type-of-help {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; }

  .help-sec {
    height: 250px;
    width: 300px;
    background-color: #FFF;
    margin-left: 3%; }
    .help-sec img {
      margin-left: -40%;
      margin-top: 10%; }
    .help-sec h4 {
      margin-left: -50%;
      margin-top: -3px; }
    .help-sec p {
      text-align: left;
      padding-left: 20px; }

  .special-offer {
    background-image: url("../img/pricing_bg.jpg");
    text-align: center;
    padding-top: 50px;
    height: 750px;
    width: 100%; }
    .special-offer h2 {
      font-size: 35px; }
    .special-offer .pricing {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px; }
      .special-offer .pricing .pricing-blue {
        margin-left: -4px;
        height: 480px;
        width: 320px;
        background-color: #47C9E5;
        color: white; }
      .special-offer .pricing .pricing-white {
        margin-left: -5px;
        height: 480px;
        width: 320px;
        background-color: white;
        border: #0078AA solid 2px;
        padding: 30px 0;
        color: #0078AA; }
      .special-offer .pricing .price-usd {
        font-size: 40px;
        font-weight: bold; }
      .special-offer .pricing ul {
        margin-left: -30px;
        list-style-type: none;
        text-align: center;
        line-height: 2.0; }
      .special-offer .pricing .btn-price {
        color: #0078AA;
        background-color: white;
        border: #0078AA solid 2px;
        border-radius: 8px;
        width: 120px;
        height: 40px;
        font-size: 18px;
        font-weight: bold; }

  .contact {
    display: grid;
    grid-template-columns: 49% 49%; }
    .contact img {
      width: 100%; }
    .contact .text-right {
      text-align: left;
      margin-left: 50px;
      margin-top: 50px; }
      .contact .text-right h2 {
        font-size: 35px; }
      .contact .text-right form {
        margin-top: 10px; }
        .contact .text-right form input {
          display: block;
          margin-top: 10px;
          height: 30px;
          width: 100%;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom-color: #EEEEEE; }
        .contact .text-right form button {
          margin-top: 10px;
          color: white;
          font-weight: bold;
          background-color: #0078AA;
          border-radius: 10px;
          border: none;
          width: 80px;
          height: 40px; }

  footer {
    margin-top: -16px;
    background-color: #363636;
    height: 60px;
    margin-left: -20px; }
    footer p {
      padding-top: 20px;
      color: white;
      text-align: center; } }
@media screen and (max-width: 1279px) and (min-width: 768px) {
  body {
    margin: 0px  0px  0px 20px;
    font-family: 'Montserrat', sans-serif; }
    body header {
      margin-top: 20px; }
      body header .menu {
        float: right;
        color: #f2f2f2;
        text-align: center;
        font-weight: bold;
        margin-right: 10px; }
        body header .menu a {
          text-decoration: none;
          color: black;
          margin-left: 20px;
          font-size: 12px; }
        body header .menu a:hover {
          color: #0078AA; }

  .head-section {
    margin-top: 10px;
    background-image: url("../img/lady.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -200px;
    height: 500px; }
    .head-section .head-text {
      padding-top: 10%;
      font-size: 27px;
      width: 70%; }
    .head-section p {
      font-size: 15px;
      color: #9999A8; }
    .head-section .head-icon {
      background-color: #0078AA;
      color: white;
      padding: 10px;
      border-radius: 50%;
      margin-left: 10px; }
    .head-section .head-icon:hover {
      background-color: #FFF;
      color: #0078AA;
      border: 1px solid; }

  .arrow-icon {
    margin-top: 350px;
    background-color: #0078AA;
    color: white;
    padding: 10px;
    border-radius: 100%;
    margin-left: 10px;
    font-size: 40px;
    float: right;
    text-align: center; }

  .about-text {
    display: inline-block; }
    .about-text img {
      width: 40%;
      display: inline-block;
      position: absolute;
      padding-top: 200px; }
    .about-text .about {
      display: inline-block;
      margin-left: 110%; }
      .about-text .about h2 {
        font-size: 35px; }
      .about-text .about .blue-text {
        color: #0078AA; }
      .about-text .about .blue-arrow {
        color: #0078AA;
        display: inline; }
      .about-text .about i {
        color: #0078AA;
        font-size: 15px; }
      .about-text .about p {
        width: 350px; }

  .help {
    background-image: url("../img/services_bg.jpg");
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    margin-left: -20px; }

  .type-of-help {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; }

  .help-sec {
    height: 250px;
    width: 220px;
    background-color: #FFF;
    margin-left: 3%; }
    .help-sec img {
      margin-left: -30%;
      margin-top: 10%; }
    .help-sec h4 {
      margin-left: -40%;
      margin-top: -3px; }
    .help-sec p {
      text-align: left;
      padding-left: 20px; }

  .special-offer {
    background-image: url("../img/pricing_bg.jpg");
    text-align: center;
    height: 500px;
    background-size: cover;
    margin-bottom: 200px; }
    .special-offer h2 {
      font-size: 35px; }
    .special-offer .pricing {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px; }
      .special-offer .pricing .pricing-blue {
        margin-left: -4px;
        height: 480px;
        width: 240px;
        background-color: #47C9E5;
        color: white; }
      .special-offer .pricing .pricing-white {
        margin-left: -5px;
        height: 480px;
        width: 240px;
        background-color: white;
        border: #0078AA solid 2px;
        padding: 30px 0;
        color: #0078AA; }
      .special-offer .pricing .price-usd {
        font-size: 40px;
        font-weight: bold; }
      .special-offer .pricing ul {
        margin-left: -30px;
        list-style-type: none;
        text-align: center;
        line-height: 2.0; }
      .special-offer .pricing .btn-price {
        color: #0078AA;
        background-color: white;
        border: #0078AA solid 2px;
        border-radius: 8px;
        width: 120px;
        height: 40px;
        font-size: 18px;
        font-weight: bold; }

  .contact {
    display: grid;
    grid-template-columns: 49% 49%; }
    .contact img {
      height: 550px;
      z-index: -1; }
    .contact .text-right {
      background-color: white;
      z-index: 1;
      text-align: left;
      padding-left: 30px;
      margin-top: 50px; }
      .contact .text-right h2 {
        font-size: 35px; }
      .contact .text-right form {
        margin-top: 10px; }
        .contact .text-right form input {
          display: block;
          margin-top: 10px;
          height: 30px;
          width: 100%;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom-color: #EEEEEE; }
        .contact .text-right form button {
          margin-top: 10px;
          color: white;
          font-weight: bold;
          background-color: #0078AA;
          border-radius: 10px;
          border: none;
          width: 80px;
          height: 40px; }

  footer {
    margin-top: -16px;
    background-color: #363636;
    height: 60px;
    margin-left: -20px; }
    footer p {
      padding-top: 20px;
      color: white;
      text-align: center; } }
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; }
    body header {
      margin-top: 20px; }
      body header .logo {
        display: block;
        margin: 10px auto 20px; }
      body header .menu {
        margin-top: 20px;
        color: #f2f2f2;
        text-align: center;
        font-weight: bold; }
        body header .menu a {
          text-decoration: none;
          color: black;
          margin-left: 10px;
          font-size: 14px; }
        body header .menu a:hover {
          color: #0078AA; }

  .head-section {
    display: flex;
    margin-top: 10px;
    background-image: url("../img/lady.jpg");
    background-repeat: no-repeat;
    background-position: 40% 70%;
    padding-bottom: 30px; }
    .head-section .head-text {
      text-align: center;
      padding-top: 7%;
      font-size: 27px;
      margin-left: 10%; }
    .head-section h1 {
      width: 90%; }
    .head-section p {
      font-size: 15px;
      color: #9999A8; }
    .head-section .head-icon {
      background-color: #0078AA;
      color: white;
      padding: 10px;
      border-radius: 50%;
      margin-left: 10px; }
    .head-section .head-icon:hover {
      background-color: #FFF;
      color: #0078AA;
      border: 1px solid; }

  .arrow-icon {
    background-color: #0078AA;
    color: white;
    padding: 10px;
    border-radius: 100%;
    font-size: 40px;
    text-align: right;
    margin-left: 85%;
    margin-top: 35%;
    position: absolute; }

  .about-text {
    margin-top: 20px;
    display: block;
    text-align: center; }
    .about-text img {
      width: 100%; }
    .about-text .about {
      padding-left: 2%;
      padding-top: 20px; }
      .about-text .about h2 {
        font-size: 35px; }
      .about-text .about .blue-text {
        color: #0078AA;
        margin-top: -3%; }
      .about-text .about .blue-arrow {
        color: #0078AA;
        display: inline; }
      .about-text .about i {
        color: #0078AA;
        font-size: 15px; }
      .about-text .about p {
        width: 100%; }

  .help {
    background-image: url("../img/services_bg.jpg");
    display: block;
    padding-bottom: 20px; }
    .help h2, .help p {
      text-align: center; }

  .type-of-help {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 40px; }

  .help-sec {
    height: 250px;
    width: 300px;
    background-color: #FFF;
    margin: 0 auto 5% auto; }
    .help-sec img {
      position: relative;
      margin-left: 5%;
      margin-top: 2%; }
    .help-sec h4 {
      position: relative;
      margin-left: 5%; }
    .help-sec p {
      text-align: left;
      padding-left: 20px; }

  .special-offer {
    display: block;
    text-align: center;
    padding-top: 50px; }
    .special-offer h2 {
      font-size: 35px; }
    .special-offer .pricing {
      padding-top: 10px; }
      .special-offer .pricing .pricing-blue {
        margin: 0 auto;
        height: 480px;
        width: 320px;
        background-color: #47C9E5;
        color: white; }
      .special-offer .pricing .pricing-white {
        margin: 0 auto;
        height: 480px;
        width: 320px;
        background-color: white;
        border: #0078AA solid 2px;
        padding: 30px 0;
        color: #0078AA; }
      .special-offer .pricing .price-usd {
        font-size: 40px;
        font-weight: bold; }
      .special-offer .pricing ul {
        margin-left: -30px;
        list-style-type: none;
        text-align: center;
        line-height: 2.0; }
      .special-offer .pricing .btn-price {
        color: #0078AA;
        background-color: white;
        border: #0078AA solid 2px;
        border-radius: 8px;
        width: 120px;
        height: 40px;
        font-size: 18px;
        font-weight: bold; }

  .contact {
    display: block;
    text-align: center; }
    .contact img {
      width: 100%; }
    .contact .text-right {
      padding-left: 5%; }
      .contact .text-right h2 {
        font-size: 35px; }
      .contact .text-right form {
        margin-top: 10px; }
        .contact .text-right form input {
          display: block;
          margin-top: 10px;
          height: 30px;
          width: 90%;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom-color: #EEEEEE; }
        .contact .text-right form button {
          margin-top: 5%;
          color: white;
          font-weight: bold;
          background-color: #0078AA;
          border-radius: 10px;
          border: none;
          width: 80px;
          height: 40px;
          margin-bottom: 5%; }

  footer {
    margin-top: -16px;
    background-color: #363636;
    height: 60px;
    margin-left: -20px; }
    footer p {
      padding-top: 20px;
      color: white;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
